@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); 
/* Ativando a fonte importada acima para a divisão BODY */
body {

   
    font-family: 'Roboto Serif', serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color:rgb(242, 195, 151);

}

/* Estilizando os INPUTS User e Token, ajustando dimensões, bordas e colorações */
.adminAccessInput {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

/* Transformando um texto link em um texto comum */
.hrefStyles{
    text-decoration: none;
    color: rgb(255, 123, 0);
    font-size: 30px;
}

#header {
    background-color: rgb(255, 123, 0);
    height: 80px;           /* Altura fixa para o header */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
}

/* Ajuste o #page para não sobrepor o header */
#page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    margin-top: 100px;      /* Espaço suficiente para o header */
}


/* Alinhar divs do login */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 187, 187);
    width: 900px;
    min-height: 250px;    /* Altura mínima, não ocupa a tela toda */
    height: 500px;    /* Altura automática conforme o conteúdo */
    margin-top: 0;        /* Remove qualquer margin extra */
    box-sizing: border-box;
    border-radius: 30px;
}

#freeAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;    /* Altura mínima, não ocupa a tela toda */
    height: auto;         /* Altura automática conforme o conteúdo */
    margin-top: 0;        /* Remove qualquer margin extra */
    box-sizing: border-box;
}

#freeAccess .hrefStyles { 
    display: block; /* Para que a largura seja aplicada corretamente */
    text-align: center; /* Opcional: centraliza o texto/link */
    margin: auto;  /* Opcional: centraliza horizontalmente */
    font-size: 80px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(242, 195, 151);
    cursor: pointer;
    padding: 10px;
    font-family: Oswald, serif;
}

#adminAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;    /* Altura mínima, não ocupa a tela toda */
    height: auto;         /* Altura automática conforme o conteúdo */
    margin-top: 0;        /* Remove qualquer margin extra */
    box-sizing: border-box;
}

#adminAccess .hrefStyles {
    width: 20%;
    display: block; /* Para que a largura seja aplicada corretamente */
    text-align: center; /* Opcional: centraliza o texto/link */
    margin: auto;  /* Opcional: centraliza horizontalmente */
    font-size: 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: white;
    cursor: pointer;
    padding: auto;
    margin-right: auto;

}

#adminAccess .text {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;;
}

#adminAccess .adminAccessInput {
    margin-bottom: 5px;
    font-size: 20px;
    height: 40px;
    
}
#whiteBox {
    background-color: rgb(242, 195, 151);
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;

}
#Separator {
    width:93%; 
    height:10px; 
    background-color:rgb(255, 136, 0);
    margin: 20px;
}
#Logobb8 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px; /* ajuste conforme necessário */
    height: auto;
}
#logoSESI {
    height: 50%;
    margin: 10px;

 }


 

  