#canvas-container {
  border: 1px solid #ccc;
  width: 100%;
  height: 80vh;
  position: relative;
  transition: all 0.3s ease;
}

#canvas-container.zoomed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

canvas {
  background: #666666;
  width: 100%;
  height: 100%;
}

#toggleZoom {
  position: relative;
  z-index: 101;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#canvas-container.zoomed ~ #toggleZoom {
  position: fixed;
  top: 10px;
  right: 10px;
}