.testInput{

    border: none;
    background-color: lightgray;
    border-radius: 5px;

}

.testInput:hover{

    background-color: rgb(223, 223, 223);

}

.testInput::-webkit-inner-spin-button{

    -webkit-appearance: none;
}

.testInput::-webkit-outer-spin-button{

    -webkit-appearance: none;
}