body {

    background-color: #c5ffe3;
}

h1 {

    color: #004d40;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {

    width: 300px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input:hover {

    box-shadow: 0 0 5px #004d40;
}